[Unit]
Description=LMP Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/app/lmp
ExecStart=/bin/bash /app/lmp/lmp-launcher.sh

[Install]
WantedBy=multi-user.target

